.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}


.webgl-content .logo.Dark {background-image: url('/asset/globalUnityResources/progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('/asset/globalUnityResources/progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('/asset/globalUnityResources/progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('/asset/globalUnityResources/webgl.svg'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('/asset/ui/fullscreen.svg'); width: 38px; float: right;}
